
{% extends "base.html" %}

{% block content %}

    <div class="container-fluid mt-4">
    <div class="row mx-auto">
        {% for i in products %}
          <div class="card mx-auto mb-3" style="width: 18rem;">
           <img class="card-img-top" src="{{i.image.url}}" alt="card image cap">
            <div class="card-body">
                <h4 class="card-title"><b>{{i.name}}</b></h4>
                <p class="card-text"><b><span>&#8377;</span>{{i.price}}</b></p>
                <p>{{i.description}}</p>
                <form action="" method="POST">
                    {% csrf_token %}
                    <input hidden type="text" name="product" value="{{i.id}}">
                    <a href=" https://wa.me/+919752753053" class="float-left btn btn-light border btn-sm">Buy Now</a>
                <input type="submit" class="float-left btn btn-light border btn-sm" value="Add to Cart">
                </form>

            </div>
          </div>

     {% endfor %}
    </div>
    </div>
{% endblock %}
