{% extends "base.html" %}
{% block content %}
{% load static %}
<div style="background-color:black;" align="center">

    <br>
    <h1 style="color:white;" align="center">All products in best price</h1>
    <br>
    <div class="m-0.5">
    <img src="{% static '/pngwing.com.png' %}" width="220">
    <img src="{% static '/pngwing.com-2.png' %}" width="270">
    <img class="p-4" src="{% static '/pngwing.com-3.png' %}" width="160">
    <img src="{% static '/pngwing.com-4.png' %}" width="300">
    <img src="{% static '/pngwing.com-5.png' %}" width="200">
    <img src="{% static '/pngwing.com-6.png' %}" width="260">
    </div>
</div>
<div style="background-color:grey;">
    <br>
    <h1 align="center" style="color:black;"><u> ABOUT US </u></h1>
    <br>
    <p>We here are aiming to provide our customer the best product in best price .
    We created this website to provide all the information about our company on a single platform.
    our company deals with new, resold, and as well as with refurbished products.
    We provide this service so that
    our customer can get their desired product on affordable price.</p>
    <br>
</div>


{% endblock %}